.footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    background-color: #3E606F;
    overflow: hidden;
}

    .footer::before,
    .footer::after {
      content: "";
      position: absolute;
      left: 50%;
      min-width: 300vw;
      min-height: 300vw;
      background-color: #FCFFF5;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    
    .footer::before {
      bottom: 30vh;
      border-radius: 45%;
      animation-duration: 10s;
    }
    
    .footer::after {
      bottom: 22vh;
      opacity: .5;
      border-radius: 47%;
      animation-duration: 10s;
    }
  
  @keyframes rotate {
    0% {transform: translate(-50%, 0) rotateZ(0deg);}
    50% {transform: translate(-50%, -2%) rotateZ(180deg);}
    100% {transform: translate(-50%, 0%) rotateZ(360deg);}
  }

  .foot-header{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 5px;
    position: relative;
}
.foot-header::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background: #000;
}

/* ===== Social Icon ========== */
.social-icons{
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Halvetica Neue",sans-serif,"Arial";
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
  box-shadow: inset 1px 1px 2px #90a4ae,
              inset -1px -1px 2px white,
              5px 5px 10px #90a4ae,
              -5px -5px 10px white;
  border: 6px solid rgba(230,228,228);            
}
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/* color */
.social-icon--github{
  background: #000;
  color: #fff;
}
.social-icon--twitter{
  background: #2b97f1;
  color: #fff;
}
.social-icon--youtube{
  background: #fa3217;
  color: white;
}
.social-icon--instagram{
  background: #527fa6;
  color: white;
}
.social-icon--facebook{
  background: #3b5a9b;
  color: white;
}
/* Hover Effect*/
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon--codepen .tooltip{
  background: #000;
  columns: currentColor;
}
.social-icon--codepen .tooltip::after{
  border-top-color: black;
}

.social-icon--facebook .tooltip{
  background: #3b5a9b;
  columns: currentColor;
}
.social-icon--facebook .tooltip::after{
  border-top-color: #3b5a9a;
}
.social-icon--twitter .tooltip{
  background: #2b97f1;
  columns: currentColor;
}
.social-icon--twitter .tooltip::after{
  border-top-color: #2b97f1;
}

.social-icon--youtube .tooltip{
  background: #f31344;
  columns: currentColor;
}
.social-icon--youtube .tooltip::after{
  border-top-color: #f31344;
}

.social-icon--instagram .tooltip{
  background: #527fa6;
  columns: currentColor;
}
.social-icon--instagram .tooltip:after{
  border-top-color: #527fa6;
}


.social-icon--github .tooltip{
  background: #000;
  columns: currentColor;
}
/* icon after effect */
.social-icon--github .tooltip::after{
  border-top-color: #000;
}


@media only screen and (max-width: 425px){
	.social-icon{
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin-left: 1rem;
  }
}